.table .highlight-ao {
    color: #198754;
    font-weight: bold;
}

.table .highlight-pb {
    color: #ffc107;
    font-weight: bold;
}

#skewbs svg {
    display: block;
    width: 100%;
    height: auto;
}